.upload-btn:hover {
  background: #BD9523;
  color: #000000;
}

.upload-btn span {
  display: inline-block;
  transform: skew(20deg);
  background: #BD9523;
  color: #000000;
}

.upload-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  max-width: 100vw;
  max-height: 100dvh;
  margin: auto;
  background-color: #070b518d;
}

.blue-heading {
  color: #e6eaee;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
}
